<div class="row clearfix">
    <div class="row clearfix">
        <div class="col-md-9 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="topic_full_title">
                             {{#if data.category}}
                            <span class="put_top_good">{{data.category}}</span> {{/if}} {{data.title}}
                        </span>
                        <div class="changes">
                            <span>
                            发布于{{data.create_at}}
                            </span>
                            <span>作者 <a href="#">{{data.author.loginname}}</a></span>
                            <span>{{data.visit_count}}次浏览</span>
                            <span> 来自 {{data.tab}}</span>
                    </h3>
                    </div>
                    <div class="panel-body">
                        {{{data.content}}}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            回复数：{{data.reply_count}}
                        </h3>
                    </div>
                    <div class="panel-body">
                        
                        {{#each data.replies}}
                        <p>
                            <a class="user_avatar pull-left" style="width:40px;" href="#">
<img src={{author.avatar_url}} title="avatar1" />
</a>
<span>{{author.loginname}}</span>
<a>
    <span class="last_active_time">{{create_at}}</span>
</a>
</p>
{{{content}}} 
<hr>
{{/each}}
</div>
</div>
</div>
<div class="col-md-3 column">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                作者
            </h3>
        </div>
        <div class="panel-body">
                                        <a class="user_avatar pull-left" style="width:40px;" href="#">
<img src={{data.author.avatar_url}} title="avatar1" />
</a>
            {{data.author.loginname}}
        </div>
    </div>
</div>
</div>
</div>